[user]
	email = dev@tb6.eu
	name = Tamino Bauknecht
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
