[user]
	email = dev@tb6.eu
	name = Tamino Bauknecht
[core]
	editor = nvim
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-dirty = 1
[pull]
	ff = only
[commit]
	gpgsign = true
[fetch]
	prune = true
	recurseSubmodules = on-demand
	parallel = 0
[submodule]
	recurse = true
